.Backgrounds img {
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 700px) {
  .Backgrounds img {
    height: 400px;
  }
}

input:focus {
  border-color: #8e4e39;
  outline: 2px solid var(--color-principal);
  background-color: var(--color-principal);
  box-shadow: 0 0 5px #8e4e39;
}

input {
  width: 100%;
  color: black;
  border: 2px solid rgba(147, 127, 116, 0.3);
  background-color: white;
  transition: 0.1s ease;
}
select {
  width: 100%;
  color: black;
  border: 2px solid rgba(147, 127, 116, 0.3);
  background-color: white;
  transition: 0.1s ease;
}

.icon {
  background-color: var(--color-principal);
  border: none;
  width: 40px;
  display: flex;
  justify-content: center;
}

section {
  color: var(--color-secundario);
}

.container_formulario {
  background-color: #fcfcfd;
  margin: auto;
  padding: 100px;
  color: var(--color-principal);
}

@media screen and (max-width: 800px) and (min-width: 620px) {
  .container_formulario {
    background-color: #fcfcfd;
    color: var(--color-principal);
    padding: 0;
    padding-top: 20px;
  }
}

@media screen and (max-width: 497px) {
  .container_formulario {
    background-color: #fcfcfd;
    color: var(--color-principal);
    padding: 0;
    padding-top: 20px;
  }
}

.text_error {
  margin: 0;
  font-size: 15px;
  color: var(--color-secundario);
  width: 100%;
}
.text_error span {
  color: #937f74;
}

.container_confirm {
  width: 100%;
  background-color: var(--color-principal);
  padding-top: 20px;
  border-top-left-radius: 100%;
  border-top-right-radius: 50px;
}

.button_confirm {
  border: none;
  font-size: 20px;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-secundario);
  cursor: pointer;
}
