<!-- * Backgrounds -->
<section class="Backgrounds">
  <div>
    <img src="../../../../../../assets/image/Fotografía_2.png" alt="platos" />
  </div>
  <h2 class="m-3 text-center">Reservaciones</h2>
</section>
<!-- * Backgrounds -->

<!-- * Formulario de reserva -->
<section class="d-flex justify-content-center mt-5 pb-5 flex-column">
  <form [formGroup]="this.formReserve" (submit)="this.createReserve()">
    <div class="row container_formulario">
      <!-- * Calendario de fecha de reserva -->
      <div class="d-flex flex-column col mb-3">
        <div class="text-center">
          <label for="">Fecha de la reserva</label>
          <hr />
          <p-calendar
            class="max-w-full"
            [inline]="true"
            [showWeek]="true"
            formControlName="date"
            [minDate]="minDate"
          ></p-calendar>
          <div>
            @if (this.validParamForm("date")) {
            <p class="text_error"><span>*</span> Este campo es requerido</p>
            }
          </div>
        </div>

        <div class="d-flex flex-column mb-3 mt-3">
          <label for="time" class="form-label">Hora de la reserva</label>
          <hr />
          <div class="input-group">
            <span class="input-group-text icon">
              <i
                class="fa-solid fa-hourglass-half"
                style="color: var(--color-secundario)"
              ></i
            ></span>
            <select
              name="time"
              id="time"
              class="form-select"
              formControlName="time"
            >
              <option value="" selected disabled>
                Seleccionar una hora apropiada
              </option>
              @for (hour of hours; track $index) {
              <option value="{{ hour.hour }}:{{ hour.minute }}">
                {{ hour.hour }}:{{ hour.minute }}
              </option>
              }
            </select>
          </div>

          <div>
            @if (this.validParamForm("time")) {
            <p class="text_error"><span>*</span> Este campo es requerido</p>
            }
          </div>
        </div>
      </div>
      <!-- * Calendario de fecha de reserva -->

      <div class="col">
        <!-- * Nombre de la persona  -->
        <div class="d-flex flex-column mb-3">
          <label for="name">Nombres</label>
          <hr />
          <div class="input-group">
            <span class="input-group-text icon"
              ><i
                class="fa-solid fa-signature"
                style="color: var(--color-secundario)"
              ></i
            ></span>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
          </div>
          <div>
            @if (this.validParamForm("name")) {
            <p class="text_error"><span>*</span> Este campo es requerido</p>
            }
          </div>
        </div>
        <!-- * Nombre de la persona  -->

        <!-- * Nombre de la persona  -->
        <div class="d-flex flex-column mb-3">
          <label for="name">Apellidos</label>
          <hr />
          <div class="input-group">
            <span class="input-group-text icon"
              ><i
                class="fa-solid fa-signature"
                style="color: var(--color-secundario)"
              ></i
            ></span>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="lastName"
            />
          </div>
          <div>
            @if (this.validParamForm("lastName")) {
            <p class="text_error"><span>*</span> Este campo es requerido</p>
            }
          </div>
        </div>
        <!-- * Nombre de la persona  -->

        <!-- * Documento de la persona -->
        <div class="d-flex flex-column mb-3">
          <label for="document">Numero de identificacion</label>
          <hr />
          <div class="input-group">
            <span class="input-group-text icon"
              ><i
                class="fa-solid fa-id-card"
                style="color: var(--color-secundario)"
              ></i
            ></span>
            <input
              type="number"
              id="document"
              class="form-control"
              formControlName="document"
            />
          </div>
          <div>
            @if (this.validParamForm("document")) {
            <p class="text_error"><span>*</span> Este campo es requerido</p>
            }
          </div>
        </div>
        <!-- * Documento de la persona -->

        <!-- * Email de la persona -->
        <div class="d-flex flex-column mb-3">
          <label for="email">Email</label>
          <hr />
          <div class="input-group">
            <span class="input-group-text icon"
              ><i
                class="fa-solid fa-square-envelope"
                style="color: var(--color-secundario)"
              ></i
            ></span>
            <input
              type="email"
              id="email"
              class="form-control"
              formControlName="email"
            />
          </div>
          <div>
            @if (this.validParamForm("email")) {
            <p class="text_error"><span>*</span> Este campo es requerido</p>
            }
          </div>
        </div>
        <!-- * Email de la persona -->

        <!-- * Telefono de la persona -->
        <div class="d-flex flex-column mb-3">
          <label for="phone">Telefono</label>
          <hr />
          <div class="input-group">
            <span class="input-group-text icon"
              ><i
                class="fa-solid fa-phone"
                style="color: var(--color-secundario)"
              ></i
            ></span>
            <input
              type="tel"
              id="phone"
              class="form-control"
              formControlName="phone"
            />
          </div>
          <div>
            @if (this.validParamForm("phone")) {
            <p class="text_error"><span>*</span> Este campo es requerido</p>
            }
          </div>
        </div>
        <!-- * Telefono de la persona -->

        <!-- * Cantidad de personas -->
        <div class="d-flex flex-column mb-3">
          <label for="people">Cantidad de personas</label>
          <hr />
          <div class="input-group">
            <span class="input-group-text icon"
              ><i
                class="fa-solid fa-people-roof"
                style="color: var(--color-secundario)"
              ></i
            ></span>
            <input
              type="number"
              id="people"
              class="form-control"
              formControlName="peoples"
              min="1"
              max="20"
            />
          </div>
          <div>
            @if (this.validParamForm("peoples")) {
            <p class="text_error">
              <span>*</span> Este campo es requerido y el minimo de personas es
              de 1 y el maximo de 20
            </p>
            }
          </div>
        </div>
        <!-- * Cantidad de personas -->
      </div>
      <!-- TODO Mostrar galeria de lugares -->
      <div class="row mb-5">
        <p>Seleccionar Lugar de Reserva</p>
        <div class="card">
          <p-galleria [value]="this.images" [numVisible]="5">
            <ng-template pTemplate="item" let-item>
              <img
                [src]="item.itemImageSrc"
                style="width: 100%; height: 600px"
              />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.thumbnailImageSrc" class="preview" />
              </div>
            </ng-template>
            <ng-template pTemplate="caption" let-item>
              <h4 style="margin-bottom: 0.5rem; color: #ffffff">
                {{ item.title }}
              </h4>
              <p>{{ item.alt }}</p>
              @if (item) {<button
                type="button"
                (click)="selectImage(item.thumbnailImageSrc)"
                class="m-3 image-button"
              >
                Seleccionar lugar</button
              >}
            </ng-template>
          </p-galleria>
        </div>
      </div>
    </div>

    <div class="container_confirm text-center">
      <button
        class="button_confirm"
        type="submit"
        [disabled]="!this.formReserve.valid"
      >
        Confirmar
      </button>
    </div>
  </form>

  <!-- * Modal de registro de usuario  -->
  <div class="flex justify-content-center">
    <p-dialog
      header="Creacion de Reserva exitosa"
      [(visible)]="visible"
      [modal]="true"
      [draggable]="false"
      [style]="{ width: '50vw' }"
    >
      <hr />
      <p>
        Reserva registrada correctamente, se ha enviado un correo a el email
        ingresado.
      </p>
      <p>Gracias por registrar tu reserva.</p>
      <hr />
    </p-dialog>
  </div>
  <!-- * Modal de registro de usuario  -->
</section>
<!-- * Formulario de reserva -->
