<section class="header">
  <!-- * Logo restaurante -->
  <div class="logo">
    <img src="../../../../../../assets/image/MatronaLogoFondo.png" alt="logo" />
  </div>
  <!-- * Logo restaurante -->
</section>

<!-- * Tabla de reservas  -->
<section class="container mt-5">
  <div class="card">
    <p-table
      #dt1
      [value]="bookings"
      [tableStyle]="{ 'min-width': '60rem' }"
      [globalFilterFields]="['clientEntityRead.name', 'code', 'dateBooking']"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Reservas

          <button class="m-3 clear" (click)="clear(dt1)">Limpiar Filtro</button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">
            <div class="flex align-items-center">
              Codigo
              <p-columnFilter
                type="text"
                field="code"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th class="text-center">
            <div class="flex align-items-center">
              Nombre de Persona
              <p-columnFilter
                type="text"
                field="clientEntityRead.name"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th class="text-center">Cantidad</th>
          <th class="text-center">
            <div class="flex align-items-center">
              Fecha y Hora
              <p-columnFilter
                type="text"
                field="dateBooking"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th class="text-center">Estado</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-booking>
        <tr>
          @if (booking.clientEntityRead != null) {
          <td class="text-center">{{ booking.code }}</td>
          <td class="width text-center">
            {{ booking.clientEntityRead.name.trim() }}
            {{ booking.clientEntityRead.lastname.trim() }}
          </td>
          <td class="text-center">{{ booking.amount }}</td>
          <td class="text-center">
            {{ booking.dateBooking | date : "YYYY-MM-dd HH:mm" }}
          </td>
          <td class="text-center">
            @if (!booking.canceled) {
            <p class="procesada">
              {{ this.getStatus(booking.canceled) }}
            </p>
            }@else {
            <p class="cancelada">
              {{ this.getStatus(booking.canceled) }}
            </p>
            }
          </td>

          }
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Total de reservas {{ this.bookings.length }}.
        </div>
      </ng-template>
    </p-table>
  </div>
</section>
<!-- * Tabla de reservas  -->
