<!-- * Backgrounds -->
<section class="Backgrounds">
  <div>
    <img src="../../../../../../assets/image/Fotografía_2.png" alt="platos" />
  </div>
  <h2 class="m-3 text-center">Cancelar Reserva</h2>
</section>
<!-- * Backgrounds -->

<section class="d-flex justify-content-center mt-5">
  <div>
    <p>¿ Estas seguro de cancelar tu reserva ?</p>
    <div class="d-flex justify-content-center">
      <div class="text-center m-3">
        <button type="button" class="cancelar_button">Confirmar</button>
      </div>
      <div class="text-center m-3">
        <button type="button" class="cancelar_button">Cancelar</button>
      </div>
    </div>
  </div>
</section>
