<section>
  <!-- * Backgrop de auth -->
  <div class="backgroup">
    <div class="fontImage">
      <img
        src="../../../../../assets/image/MatronaLogoFondo.png"
        alt="logo"
        srcset=""
      />
    </div>
    <div class="ola">
      <div style="height: 150px; overflow: hidden">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M0.00,49.98 C41.76,0.52 455.98,-2.44 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: var(--color-principal)"
          ></path>
        </svg>
      </div>
    </div>
  </div>
  <!-- * Backgrop de auth -->
</section>
