<!-- * Modal de registro de usuario  -->
<div class="flex justify-content-center">
  <p-dialog
    header="Terminos y Condiciones"
    [(visible)]="visible"
    [modal]="true"
    [draggable]="false"
    [style]="{ width: '50vw' }"
  >
    <hr />
    <section>
      <p>
        ¡Bienvenido a Matrona restaurante! Antes de disfrutar de nuestros
        servicios, por favor, tómese un momento para revisar nuestros términos y
        condiciones:
      </p>

      <ol>
        <li>
          <strong>Reservas y Cancelaciones:</strong>
          <ul>
            <li>
              Se recomienda realizar reservas con anticipación para garantizar
              disponibilidad.
            </li>
            <li>
              Las cancelaciones deben realizarse con al menos 24 horas de
              anticipación. De lo contrario, podría aplicarse un cargo por
              cancelación.
            </li>
          </ul>
        </li>

        <li>
          <strong>Horario de Servicio:</strong>
          <ul>
            <li>
              Nuestro horario de servicio puede variar según la temporada y la
              demanda. Consulte nuestro sitio web o contáctenos para conocer
              nuestros horarios actualizados.
            </li>
          </ul>
        </li>

        <li>
          <strong>Política de Privacidad:</strong>
          <ul>
            <li>
              Respetamos su privacidad. Toda la información proporcionada será
              tratada de acuerdo con nuestras políticas de privacidad y no será
              compartida con terceros sin su consentimiento.
            </li>
          </ul>
        </li>

        <li>
          <strong>Servicio al Cliente:</strong>
          <ul>
            <li>
              Nuestro equipo está comprometido con brindar un servicio
              excepcional. Si tiene alguna pregunta, inquietud o comentario, no
              dude en comunicarse con nuestro personal.
            </li>
          </ul>
        </li>
        <li>
          <strong>Precios y Pagos:</strong>
          <ul>
            <li>Los precios están sujetos a cambios sin previo aviso.</li>
            <li>Aceptamos pagos en efectivo y tarjetas de crédito/débito.</li>
            <li>
              Los impuestos y propinas pueden no estar incluidos en el precio
              mostrado. Se aplicarán según las regulaciones locales.
            </li>
          </ul>
        </li>

        <li>
          <strong>Política de Menores:</strong>
          <ul>
            <li>
              Los menores deben estar acompañados por un adulto responsable en
              todo momento.
            </li>
            <li>
              Se pueden aplicar restricciones de edad para ciertos servicios o
              áreas del restaurante.
            </li>
          </ul>
        </li>

        <li>
          <strong>Normas de Comportamiento:</strong>
          <ul>
            <li>
              Se espera que todos los clientes se comporten de manera respetuosa
              hacia nuestro personal y otros clientes.
            </li>
            <li>
              Nos reservamos el derecho de negar el servicio a cualquier persona
              que viole estas normas o presente un comportamiento inapropiado.
            </li>
          </ul>
        </li>

        <li>
          <strong>Alérgenos y Restricciones Dietéticas:</strong>
          <ul>
            <li>
              Hacemos todo lo posible para adaptarnos a las restricciones
              dietéticas y alérgenos. Sin embargo, no podemos garantizar la
              ausencia total de alérgenos en nuestros platos debido a la
              posibilidad de contaminación cruzada en la cocina.
            </li>
          </ul>
        </li>

        <li>
          <strong>Responsabilidad:</strong>
          <ul>
            <li>
              El restaurante no se hace responsable por pérdidas, daños o
              lesiones sufridas durante la visita, a menos que sean causados por
              negligencia comprobada por parte del personal del restaurante.
            </li>
          </ul>
        </li>
        <!-- Resto de los términos y condiciones -->
        <!-- Agregar el tratamiento de datos personales -->
        <li>
          <strong>Tratamiento de Datos Personales:</strong>
          <ul>
            <li>
              Al proporcionar sus datos personales al realizar una reserva o
              utilizar nuestros servicios, usted autoriza expresamente el
              tratamiento de dicha información para fines relacionados con su
              visita al restaurante.
            </li>
            <li>
              Los datos personales serán tratados de acuerdo con nuestra
              política de privacidad, la cual puede ser consultada en nuestro
              sitio web o solicitada a nuestro personal.
            </li>
            <li>
              Utilizaremos sus datos personales únicamente con el propósito de
              mejorar nuestros servicios, gestionar reservas, y proporcionarle
              información relevante sobre promociones, eventos y novedades del
              restaurante, a menos que indique lo contrario.
            </li>
            <li>
              Nos comprometemos a proteger la confidencialidad y seguridad de
              sus datos personales, y no los compartiremos con terceros sin su
              consentimiento, excepto cuando sea necesario para cumplir con
              obligaciones legales o cuando sea requerido por las autoridades
              competentes.
            </li>
            <li>
              Usted tiene derecho a acceder, corregir, actualizar o eliminar sus
              datos personales en cualquier momento, así como a oponerse al
              tratamiento de los mismos para fines de mercadeo directo. Para
              ejercer estos derechos o para cualquier consulta relacionada con
              el tratamiento de sus datos personales, por favor contáctenos a
              través de los canales indicados en nuestra política de privacidad.
            </li>
            <li>
              Al continuar utilizando nuestros servicios, usted reconoce y
              acepta el tratamiento de sus datos personales de acuerdo con los
              términos aquí establecidos y con nuestra política de privacidad.
            </li>
          </ul>
        </li>
      </ol>

      <p>
        Estos términos y condiciones, junto con nuestra política de privacidad,
        rigen el tratamiento de datos personales en relación con el uso de
        nuestros servicios y la visita al restaurante. Si tiene alguna pregunta
        o inquietud sobre el tratamiento de sus datos personales, no dude en
        comunicarse con nosotros.
      </p>
    </section>
    <hr />
  </p-dialog>
</div>
<!-- * Modal de registro de usuario  -->
